header
    div(class="logo")
        span Crypto Tracker
    nav(class="navigation")
        div(class="nav-option")
            a(href="/") LOG IN
            span or
            a(href="/") REGISTER